*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#FFF8F3;
    color:#222;
    overflow-x:hidden;
}

section{
    padding:100px 8%;
}

img{
    width:100%;
    display:block;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}
html{
    scroll-behavior: smooth;
}